/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.dropdown-container {
	position: relative;
	display: inline-block;
	width: 100%;

	.trigger {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 18.15rem;
		height: 2.46rem;
		outline: none;
		cursor: pointer;
		background-color: transparent;
		padding: 0.62rem 1rem;

		&.dropdown-radioBox {
			min-width: 100%;
			justify-content: flex-end;
		}

		&.bordered {
			padding: 12px 16px;
			min-width: 100%;
			border: 1px solid var(--grey-color-3);
			border-radius: 7px;
			height: 40px;
			justify-content: space-between;
			.dropdown-label {
				color: var(--grey-color);
				font-family: "AmazonEmber-Regular";
				font-weight: 400;
				font-size: 1.08rem;
			}
		}

		&.bordered.dropdown-true {
			border-color: var(--primary-color);
		}

		&.bordered.dropdown-false {
			background-color: var(--grey-color-4);
			border: 1px solid var(--grey-color-3);
			p {
				color: var(--tertiary-color);
			}
		}

		p {
			font-family: "AmazonEmber-Bold";
			font-size: 1.08rem;
			color: var(--primary-color);
			margin-right: 0.5rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		@media only screen and (max-width: 562px) {
			max-width: 10.15rem;
		}
	}

	.options {
		position: absolute;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 21.5rem;
		height: 16rem;
		overflow: auto;
		list-style: none;
		background-color: var(--white-color);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.202633);
		border-radius: 0.62rem;
		margin-top: 0.62rem;
		padding: 0;
		z-index: 1;

		.radio-li {
			.amplify-text.amplify-radio__label {
				margin-left: 1rem;
				font-size: 14px;
				font-weight: 500;
			}

			.radio-option-selected {
				.amplify-flex.amplify-radio__button {
					border-color: var(--primary-color);
				}
			}
		}

		&.radioBox {
			left: auto;
			right: 0;
			height: auto;
			width: max-content;
			max-height: 30rem;
			border-radius: 3px;
			box-shadow: none;
			border: 1px solid var(--grey-color-5);
			margin-top: -1px;
			li {
				padding: 0;
				.option-checkbox {
					width: 100%;
					.amplify-flex.amplify-checkbox {
						padding: 8px 16px;
						width: 100%;
						justify-content: left;
					}
					.amplify-text.amplify-checkbox__label {
						font-size: 14px;
						font-weight: 500;
						margin-left: 0.5rem;
					}
				}

				.amplify-flex.amplify-radiogroup {
					width: 100%;
					.amplify-flex.amplify-radio {
						width: 100%;
						padding: 1rem;
					}
					.amplify-flex.amplify-radio.radio-option-end {
						justify-content: flex-end;
					}
					.amplify-flex.amplify-radio.radio-option {
						justify-content: flex-start;
					}
				}

				&:hover {
					background-color: var(--primary-alpha-light-color);
				}
			}
		}

		&.bordered {
			left: 0;
			height: auto;
			width: 100%;
			border-radius: 4px;
			max-height: 40rem;
			box-shadow: none;
			border: 1px solid var(--grey-color-5);
			li {
				padding: 0;
				.option-checkbox {
					width: 100%;
					.amplify-flex.amplify-checkbox {
						padding: 1rem 16px;
						width: 100%;
						justify-content: left;
					}
					.amplify-text.amplify-checkbox__label {
						font-size: 14px;
						font-weight: 500;
						margin-left: 0.5rem;
					}
				}
				.amplify-flex.amplify-checkbox__button {
					&:before {
						background: var(--light-color-2);
						border: 1px solid var(--grey-color-2);
					}
					span {
						display: flex;
						justify-content: center;
						align-items: center;
						svg {
							stroke-width: 4px;
							stroke-linejoin: bevel;
							stroke: var(--white-color);
							width: 8px;
							height: 8px;
						}
					}
				}
				.amplify-checkbox__button--focused::before {
					border-color: var(--grey-color);
				}
				&:hover {
					background-color: var(--primary-alpha-light-color);
				}
			}
		}

		li {
			cursor: pointer;
			padding: 8px 16px;
			user-select: none;

			&:hover {
				background-color: var(--primary-alpha-light-color);
			}

			@media only screen and (min-width: 1024px) {
				&:hover {
					background-color: rgba(0, 130, 150, 0.08);
				}
			}
		}

		.selected {
			background-color: rgba(0, 130, 150, 0.08);
		}

		@media only screen and (max-width: 562px) {
			width: 12rem;
			left: -10%;
		}
	}
}
