{
	"WEB_DOMAIN": "https://dev.amazonlocation.services/demo",
	"WEB_DOMAIN_USERNAME": "XXXXXX",
	"WEB_DOMAIN_PASSWORD": "XXXXXXXXXX",
	"IDENTITY_POOL_ID": "XX-XXXX-X:XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
	"USER_DOMAIN": "https://XXXXXXXXXXXX.XXXX.XX-XXXX-X.amazoncognito.com/",
	"USER_POOL_CLIENT_ID": "XXXXXXXXXXXX",
	"USER_POOL_ID": "XX-XXXX-X_XXXXXXXXXX",
	"WEB_SOCKET_URL": "XXXXXXXXXX-ats.iot.XX-XXXX-X.amazonaws.com",
	"COGNITO_EMAIL": "XXX@gmail.com",
	"COGNITO_PASSWORD": "XXXXX"
}

