{
	"EMAIL": "XXX@gmail.com",
	"EMAIL_PASS": "XXXXX",
	"IDENTITY_POOL_ID": "XX-XXXX-X:XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
	"USER_DOMAIN": "https://XXXXXXXXXXXX.XXXX.XX-XXXX-X.amazoncognito.com/",
	"USER_POOL_CLIENT_ID": "XXXXXXXXXXXX",
	"USER_POOL_ID": "XX-XXXX-X_XXXXXXXXXX",
	"WEB_SOCKET_URL": "http://XXXXXXXXXX-ats.iot.XX-XXXX-X.amazonaws.com/",
	"USERNAME": "XXXXXX",
	"PASSWORD": "XXXXXXXXXX",
	"URL": "https://qa.amazonlocation.services/demo",
	"ORIGIN_WEB": "https://XXXXXXXXXXXX.XXXX.XX-XXXX-X.amazoncognito.com",
	"GET_WEB": ".modal-content.background-customizable.modal-content-mobile.visible-md.visible-lg"
}
