/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.amplify-card.unauthSimulation-card {
	width: 27.69rem;
	position: absolute;
	top: 1.62rem;
	z-index: 4;
	max-height: 90vh;

	.card-close {
		position: relative;
		z-index: 1;
		cursor: pointer;
		fill: var(--grey-color);
	}

	.start-simulation-container {
		position: absolute;
		top: -6.3rem;
		display: flex;
		justify-content: center;
		flex-direction: column;

		.simulation-icon {
			width: 80%;
		}

		.text-container {
			position: relative;
			top: -7rem;
			justify-content: center;
			flex-direction: column;
			gap: 0.8rem;
			padding: 0 1.84rem;

			.primary-icon {
				path {
					fill: var(--primary-color);
				}
			}
		}
	}

	&.unauthSimulation-card-mobile {
		z-index: 23;
		max-height: 100vh;
		width: 100%;
		box-shadow: none;
		top: 3.1rem;
	}

	&.unauth-non-start-simulation-card-tablet {
		overflow: hidden;
		top: 0 !important;
		width: 27.69rem !important;
		height: auto !important;
		z-index: 23;
		box-shadow: none;
	}

	&.unauth-non-start-simulation-card-mobile {
		overflow: hidden;
		top: 0 !important;
		width: 100% !important;
		z-index: 23;
		box-shadow: none;
		border-radius: 0;
		max-height: 100vh;
	}

	.simulation-container {
		.simulation-header {
			border-bottom: 1px solid var(--grey-color-3);

			&.simulation-header-mobile {
				border: 0;
				width: 100%;

				.amplify-flex {
					position: absolute !important;
					top: -9px;
				}

				.amplify-flex:nth-child(1) {
					right: 0;
					padding-top: 0.1rem !important;
				}

				.amplify-flex:nth-child(2) {
					left: 0;
					padding-top: 0.3rem !important;
				}

				.notification-bubble {
					top: 5px;
					right: 11px;
				}

				.bell-icon-container {
					&.bell-active,
					&:active,
					&:focus,
					&:hover {
						background-color: transparent;
						border-top-left-radius: 11px;
					}
				}
			}
		}
		.tracking-history-container {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
		.back-icon {
			fill: var(--grey-color);
		}
		.bell-icon-container {
			cursor: pointer;
			&.bell-active,
			&:hover {
				background-color: var(--primary-alpha-light-color);
				path {
					fill: var(--primary-color);
				}
			}
			.notification-bubble {
				width: 8px;
				height: 8px;
				background-color: orange;
				border-radius: 50%;
				display: flex;
				position: absolute;
				top: 6px;
				right: 9px;
			}
		}
		.bell-icon {
			path {
				fill: var(--grey-color);
			}
		}

		.routes-notification-container {
			> button {
				width: 40%;
			}
		}
		.no-tracking-history {
			min-height: 20rem;
			align-items: center;
			padding: 0 4rem;
			text-align: center;
			color: var(--grey-color);
		}
		.tracking-icon-container {
			flex-direction: column;
			align-items: center;
			gap: 6px;
			> .geofence-icon {
				rect {
					fill: var(--primary-color);
				}
			}

			.bubble-icon {
				width: 4px;
				height: 4px;
				background-color: var(--primary-color);
				border-radius: 50%;
			}
		}

		.bus-container {
			align-items: center;
			margin-top: 1.5rem;
			> p {
				width: 80%;
			}
		}

		.select-box {
			.amplify-select-wrapper {
				background-color: red;
			}
		}
	}
}

.confirmation-modal-container {
	.amplify-flex.modal-container {
		.confirmation-modal {
			height: 35% !important;
		}
	}

	.amplify-text.amplify-text--tertiary.small-text {
		padding: 0 1rem;
		font-size: 13px;
		font-family: "AmazonEmber-Regular";
		font-weight: 400;
	}

	.amplify-button.amplify-field-group__control.amplify-button--primary {
		height: 3rem;
	}
}
