/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.explore-container {
	.feature-container {
		justify-content: space-evenly;
		align-items: flex-start;
		margin: 0.5rem auto 1rem;
		width: 100%;
		padding: 0 2rem;

		@media only screen and (max-width: 350px) {
			padding: 0 1.4rem;
		}

		.button-text {
			text-align: center;
		}

		&.feature-container-baseline {
			align-items: baseline;
		}
	}

	.explore-more-options {
		.reverse-icon {
			transform: rotate(270deg);
			fill: var(--grey-color);
		}

		.up-icon {
			transform: rotate(180deg);
			fill: var(--primary-color);
		}
	}
}
