/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.bottom-sheet {
	&.desktop {
		display: none;
	}

	&.tablet {
		[data-rsbs-overlay] {
			width: 24.61rem;
			margin-left: 0.8rem;
		}
	}

	[data-rsbs-overlay="true"] {
		z-index: 20;
		opacity: 1;
	}

	&.short-header {
		[data-rsbs-header="true"] {
			width: 85% !important;
		}
	}

	[data-rsbs-header="true"] {
		box-shadow: none;
		padding: 0;
		z-index: 20;
		opacity: 1;
		min-height: 1.4rem;
	}

	&.bottom-sheet--collapsed {
		[data-rsbs-scroll="true"] {
			display: none;
		}
	}

	[data-rsbs-scroll="true"] {
		margin-top: 1.5rem;
	}

	.logo-mobile {
		position: absolute;
		top: -2.89rem;
		width: 11.54rem;
		height: 2.08rem;
		z-index: 3;
		gap: 0;
		left: 0.59rem;
	}

	.map-header-mobile {
    width: 100%;
    flex-direction: column;
    gap: 0px;
    padding: 8px 12px 0px 16px;
		cursor: initial;
	}
}
