/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.bottom-sheet {
	&.desktop {
		display: none;
	}
	
	&.tablet{
		[data-rsbs-overlay]{
			width: 24.61rem;
			margin-left: 0.8rem;
			
		}
	}

	[data-rsbs-overlay="true"] {
		z-index: 20;
		opacity: 1;
	}

  [data-rsbs-header="true"] {
    box-shadow: none;
    padding: 0;
		z-index: 20;
		opacity: 1;
		min-height: 1.4rem;
  }

	&.bottom-sheet--collapsed{
		[data-rsbs-scroll="true"]{
			display: none;
		}
	}

	[data-rsbs-scroll="true"]{
		margin-top: 1.5rem;
	}
}