/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.explore-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-icon {
    background-color: var(--primary-color);
    width: 3.07rem;
    height: 3.07rem;
    border-radius: 0.61rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.61rem;

    svg {
      g {
        g {
          fill: var(--white-color);
        }
      }
    }
  }

  .button-text {
    color: var(--grey-color)
  }
}