/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.checkbox-group {
	.amplify-checkboxfield {
		font-family: "AmazonEmber-Medium";
		margin-top: 15px;
		gap: 14px;
	}
}
