/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.dropdown-container {
	position: relative;
	display: inline-block;

	.trigger {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 18.15rem;
		height: 2.46rem;
		outline: none;
		cursor: pointer;
		background-color: transparent;
		padding: 0.62rem 1rem;

		@media only screen and (max-width: 1023px) {
			max-width: unset;
		}

		&.bordered {
			padding: 12px 16px;
			min-width: 100%;
			border: 1px solid var(--grey-color-3);
			border-radius: 7px;
			height: 40px;
			justify-content: space-between;

			.dropdown-label {
				color: var(--grey-color);
				font-family: "AmazonEmber-Regular";
				font-weight: 400;
				font-size: 1.08rem;
			}
		}

		&.bordered.dropdown-true {
			border-color: var(--primary-color);
		}

		&.bordered.dropdown-false {
			background-color: var(--grey-color-4);
			border: 1px solid var(--grey-color-3);

			p {
				color: var(--tertiary-color);
			}
		}

		p {
			font-family: "AmazonEmber-Bold";
			font-size: 1.08rem;
			color: var(--primary-color);
			margin-right: 0.5rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.options {
		position: absolute;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 21.5rem;
		height: 16rem;
		overflow: auto;
		list-style: none;
		background-color: var(--white-color);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.202633);
		border-radius: 0.62rem;
		margin-top: 0.62rem;
		padding: 0;
		z-index: 1;

		@media only screen and (max-width: 562px) {
			width: 12rem;
			left: -10%;
		}

		&.bordered {
			left: 0;
			height: auto;
			width: 100%;
			border-radius: 4px;
			max-height: calc(100vh - 40rem);
			box-shadow: none;
			border: 1px solid var(--grey-color-5);

			li {
				padding: 0;

				&:hover {
					background-color: var(--primary-alpha-light-color);
				}
			}
		}

		li {
			cursor: pointer;
			padding: 8px 16px;
			user-select: none;

			&:hover {
				background-color: var(--primary-alpha-light-color);

				@media only screen and (min-width: 1023px) {
					background-color: rgba(0, 130, 150, 0.08);
				}
			}
		}

		.selected {
			background-color: rgba(0, 130, 150, 0.08);
		}
	}
}
