/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.popup-container {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.202633);
	opacity: 1;
	background-color: var(--card-backgound-color);
	z-index: 2;
	border-radius: 0.62rem;
	margin-left: 6px;

	.maplibregl-popup-tip {
		display: none;
	}

	.maplibregl-popup-content {
		border-radius: 0.62rem;
		width: 100%;
		padding: 0;

		.popup-icon-close-container {
			position: absolute;
			top: 0.62rem;
			right: 0.62rem;

			svg {
				fill: var(--grey-color);
				cursor: pointer;

				&:hover {
					fill: var(--primary-color);
					background: var(--border-separator-color);
					border-radius: 0.31rem;
				}
			}
		}

		.triangle-container {
			display: flex;
			align-items: center;
			position: absolute;
			top: 46%;
			left: -0.58rem;

			div {
				width: 1.15rem;
				height: 1.15rem;
				background-color: var(--card-backgound-color);
				transform: rotate(45deg);
			}
		}
	}
}

.info-container {
	padding: 1.85rem;

	.address-container {
		max-width: 23.08rem;
		display: flex;
		align-items: center;
		gap: 0.62rem;
		margin: 0.62rem 0rem;

		.copy-icon {
			fill: var(--grey-color-1);
			min-width: 19px;
			width: 19px;
			height: 19px;
			cursor: pointer;

			&:hover {
				fill: var(--primary-color);
			}
		}
	}

	.location-permission-denied-info-icon {
		width: 1.23rem;
		height: 1.23rem;
		fill: var(--grey-color);
		outline: none !important;
	}

	.route-info {
		display: flex;
		align-items: center;

		div:not(.localize-geofence-distance) {
			width: 0.23rem;
			height: 0.23rem;
			background-color: var(--grey-color);
			border-radius: 50%;
			margin: 0rem 0.77rem;
		}

		svg {
			width: 1.23rem;
			height: 1.23rem;
			margin-inline-end: 0.62rem;
			fill: var(--tertiary-color);
		}
	}

	.place-info-container {
		gap: 0;
		margin-top: 0.62rem;
		border-top: 1px solid var(--grey-color-3);
		flex-direction: column;

		.icon {
			width: 100%;
			max-width: 1.23rem;
			height: 100%;
			max-height: 1.23rem;
			margin-right: 0.62rem;
			fill: var(--grey-color);
		}

		.opening-hours {
			gap: 0;
			margin-top: 0.62rem;
			flex-direction: column;

			.accordion-header {
				gap: 0;
				align-items: center;

				.spacer {
					gap: 0;
					flex-grow: 1;
				}

				.icon-arrow {
					fill: var(--grey-color);
					width: 100%;
					max-width: 1.23rem;
					height: 100%;
					max-height: 1.23rem;

					&.transform {
						transform: rotate(180deg);
					}
				}
			}

			.accordion-content {
				gap: 0;
				flex-direction: column;
				margin-top: 0.62rem;
				padding-left: 1.85rem;
			}
		}

		.website {
			gap: 0;
			margin-top: 0.62rem;

			.urls {
				gap: 0;
				width: 100%;
				flex-direction: column;

				.link-text {
					max-width: 20rem;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.phone {
			gap: 0;
			margin: 0.62rem 0 0 0.2rem;

			.numbers {
				gap: 0;
				width: 100%;
				flex-direction: column;
			}
		}
	}

	.directions-button {
		width: 100%;
		height: 2.46rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.62rem;
		margin-top: 1.85rem;

		svg {
			width: 1.15rem;
			height: 1.15rem;
			fill: var(--card-backgound-color);
		}

		@media only screen and (max-width: 960px) {
			width: 100%;
		}
	}
}

.poi-only-container {
	margin-top: 10px;
	flex-direction: column;
	gap: 0;
	padding: 0 1rem;
	width: 100%;

	p {
		text-align: left;
	}

	.popup-icon-close-container {
		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 15px;
		right: 6px;

		svg {
			width: 20px;
			fill: var(--grey-color);
		}
	}

	.info-container {
		padding: 0;
	}
}
