/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.connect-aws-account-modal {
	max-width: 67.08rem;
	max-height: 52.62rem;

	&.connect-aws-account-modal-mobile {
		width: 100% !important;
		height: 100% !important;
		max-height: 100% !important;
		max-width: 100% !important;
		padding: 8% 0;
		border-radius: 0;

		.amplify-flex.left-col {
			max-width: inherit !important;
			justify-content: center !important;
		}

		.amplify-flex.right-col {
			max-width: inherit !important;
			justify-content: center !important;
		}
	}

	.amplify-flex.content-container {
		gap: 0;
		height: 100%;
		padding: 4.31rem;

		.amplify-flex.left-col {
			gap: 0;
			width: 100%;
			max-width: 27.69rem;
			flex-direction: column;
			align-items: center;

			.title-container {
				text-align: center;
			}

			@media screen and (max-width: 960px) {
				max-width: none;
			}
		}

		.amplify-flex.right-col {
			gap: 0;
			width: 100%;
			max-width: 24.62rem;
			flex-direction: column;
			align-items: center;
			margin-left: 6.15rem;

			@media only screen and (max-width: 950px) {
				width: 100%;
				max-width: none;
				margin: 2.31rem 0rem;
			}
		}

		.step-number {
			min-width: 24px;
			width: 100%;
			max-width: 24px;
			height: 24px;
			border-radius: 4px;
			background-color: var(--border-separator-color);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.hyperlink {
			cursor: pointer !important;
			color: var(--primary-color) !important;
		}

		.icon-check-mark-circle {
			fill: var(--success);
			width: 88px;
			height: 88px;
		}

		.amplify-button.continue-to-explore {
			margin-top: 8px !important;
			color: var(--primary-color) !important;
			background-color: var(--secondary-button-bg-color) !important;
			border: 1px solid var(--primary-color) !important;
		}

		.amplify-button.continue-to-explore:hover {
			color: var(--white-color) !important;
			background-color: var(--primary-color) !important;
		}

		.amplify-text.step-two-description {
			font-family: "AmazonEmber-Regular";
			font-size: 1rem;
			line-height: 1.38rem;
			color: var(--grey-color);
			margin-top: 0.31rem;

			a {
				font-family: "AmazonEmber-Bold";
				color: var(--primary-color);
				cursor: pointer;
				text-decoration: none;
			}
		}

		@media only screen and (max-width: 950px) {
			flex-direction: column;
			overflow-y: auto;
			overflow-x: hidden;
		}

		@media only screen and (max-width: 500px) {
			padding: 5%;
		}
	}

	@media only screen and (max-width: 950px) {
		padding: 5%;
		overflow-x: hidden;
		width: 90% !important;
		height: 90% !important;
	}

	@media only screen and (max-width: 500px) {
		padding: 8%;
		overflow-x: hidden;
		width: 90% !important;
		height: 90% !important;
	}
}
