/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.notifications-box-container {
	.clear-notifications {
		cursor: pointer;
		color: var(--primary-color);

		&:hover {
			color: var(--primary-contrast-color);
		}

		&.empty {
			color: var(--primary-color);
			opacity: 0.4;
		}
	}

	.notification-list {
		overflow-y: scroll;
		padding: 0.5rem 1.2rem 1.2rem;
		.divider {
			border-bottom: 1px solid var(--grey-color-3);
		}

		&.empty {
			overflow: hidden;
		}

		.no-notifications {
			overflow: hidden;
			align-items: center;
			margin-top: 9rem;

			> svg {
				use {
					fill: var(--grey-color-3);
				}
			}

			p {
				color: var(--grey-color-2);
			}
		}

		.primary-active-icon {
			rect {
				fill: var(--primary-color);
			}
		}
	}
}
