/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.route-card {
	width: 360px !important;
	position: absolute !important;
	top: 21px !important;
	z-index: 4;

	&.route-card-mobile {
		width: 100% !important;
		box-shadow: none;
		padding: 0 1.23rem;

		.icon-more-vertical {
			g {
				g {
					fill: var(--grey-color) !important;
				}
			}
		}

		.travel-mode-button-container {
			gap: 0;
			padding-left: 0 !important;
			overflow-x: auto;
			width: 100%;
			white-space: nowrap;

			&::-webkit-scrollbar {
				width: 0rem;
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background-color: transparent;
			}

			.travel-mode {
				gap: 0;
				display: flex;
				align-items: center;
				height: 2.46rem !important;
				width: auto;
				padding: 0.54rem;
				border: 1px solid var(--grey-color-3);
				border-radius: 0.62rem;
				flex-shrink: 0;

				svg {
					min-width: 1.23rem;
					min-height: 1.23rem;
					max-width: 1.23rem;
					max-height: 1.23rem;
					width: 100%;
					height: 100%;
				}

				.duration-text {
					margin-left: 0.62rem;
					height: 1.38rem;
				}
			}
		}

		.route-card-close {
			top: -10px;
			z-index: 30;
			overflow: visible;
		}

		.route-card-header-text {
			font-family: "AmazonEmber-Bold";
			font-size: 1.23rem;
		}

		.from-to-container {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	.route-card-close {
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 10px;
		top: 10px;

		svg {
			fill: #8e8e93;

			&:hover {
				fill: #008296;
			}
		}
	}

	.travel-mode-button-container {
		padding: 16px 0px 16px 16px !important;
		border-bottom: 1px solid rgba(242, 242, 247, 1) !important;

		.travel-mode {
			width: 32px;
			height: 32px;
			margin-right: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			outline: none !important;

			svg {
				fill: #8e8e93;
				width: 20px;
				height: 20px;
				outline: none !important;
			}
		}

		.selected {
			border-radius: 8px !important;
			background-color: rgba(0, 130, 150, 0.08) !important;
			border: none !important;

			svg {
				fill: #008296 !important;
			}
		}
	}

	.from-to-container-wrapper {
		.from-to-container {
			width: 100%;
		}

		&.from-to-container-wrapper-mobile {
			.inputs-container {
				width: inherit;
			}
		}
	}

	.from-to-mobile {
		position: relative;

		.more-action-icon-container {
			border-radius: 0 8px 8px 0;
			margin-top: 8px;
			padding: 8px;

			background-color: var(--light-color-2);
			&:hover {
				background-color: var(--ghost-white);
			}
		}

		.more-options-container {
			background-color: var(--white-color);
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.202633);
			width: 11rem;
			position: absolute;
			bottom: -20px;
			right: 16px;
			padding: 1rem;
			border-radius: 8px;
			text-align: center;
		}
	}

	.from-to-container {
		padding: 12px 0px 12px 18px !important;

		&.from-to-container-mobile {
			margin-top: 8px;
			background-color: var(--light-color-2);
			border-radius: 8px 0 0 8px;
			padding: 10px !important;
			width: 100%;

			.inputs-container {
				width: 100%;
				input {
					background-color: var(--light-color-2);
				}
			}

			.marker-container {
				margin: 0.5rem 0;

				.dashed-line {
					height: 3px;
				}
			}
		}

		.marker-container {
			gap: 0;
			flex-direction: column;
			align-items: center;

			svg {
				width: 16px;
				height: 16px;
			}

			.dashed-line {
				width: 3px;
				border-radius: 1.5px;
				height: 6px;
				background-color: var(--grey-color-1);
				margin: 2px 0px;
			}
		}

		.inputs-container {
			gap: 0;
			flex-direction: column;
			justify-content: space-between;
			width: 258px;
			margin: 0px 18px 0px 18px;

			input {
				border: none !important;
				opacity: 1;
				color: rgba(35, 47, 62, 1);
				font-family: "AmazonEmber-Medium";
				font-size: 14px;
				font-style: normal;
				letter-spacing: 0px;

				&::placeholder {
					opacity: 1;
					color: rgba(142, 142, 147, 1);
					font-size: 14px;
					font-family: "AmazonEmber-Regular";
					font-style: normal;
					letter-spacing: 0px;
				}

				&:focus {
					outline: none !important;
				}
			}

			.divider {
				border-top: 1px solid rgba(242, 242, 247, 1);
			}
		}
	}

	.swap-icon-container {
		gap: 0;
		align-items: center;

		svg {
			width: 24px;
			height: 24px;
			fill: #8e8e93;
			cursor: pointer;

			@media only screen and (min-width: 1024px) {
				&:hover {
					fill: #008296;
				}
			}
		}
	}

	.route-options-container {
		background-color: var(--light-color-2);
		padding: 11px 15px 11px 15px;

		.collapsed-route-options-text {
			opacity: 1 !important;
			color: rgba(0, 130, 150, 1) !important;
			font-family: "AmazonEmber-Bold" !important;
			font-size: 13px !important;
			font-style: normal !important;
			letter-spacing: 0px !important;
			text-align: right !important;
			line-height: 18px !important;
			cursor: pointer !important;
		}

		.expanded-route-options {
			display: flex;
			justify-content: space-between;
			margin-bottom: 11px;

			.text-1 {
				opacity: 1 !important;
				color: rgba(35, 47, 62, 1) !important;
				font-family: "AmazonEmber-Bold" !important;
				font-size: 13px !important;
				font-style: normal !important;
				letter-spacing: 0px !important;
				text-align: left !important;
				line-height: 18px !important;
			}

			.text-2 {
				opacity: 1 !important;
				color: rgba(0, 130, 150, 1) !important;
				font-family: "AmazonEmber-Bold" !important;
				font-size: 13px !important;
				font-style: normal !important;
				letter-spacing: 0px !important;
				text-align: right !important;
				line-height: 18px !important;
				cursor: pointer;
			}
		}
	}

	.bottom-border-radius {
		border-bottom-left-radius: 8px !important;
		border-bottom-right-radius: 8px !important;
	}

	.search-results-container {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		overflow: auto;

		&.search-results-container-mobile {
			.suggestion {
				padding-left: 0;
			}
		}

		.current-location-toggle-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 20px 0px 20px 18px;
			cursor: pointer;
			border-bottom: 1px solid rgba(242, 242, 247, 1);

			&.current-location-toggle-container-mobile {
				padding-left: 0;
			}

			svg {
				width: 16px;
				height: 16px;
			}

			p {
				opacity: 1;
				color: rgba(35, 47, 62, 1);
				font-size: 13px;
				font-family: "AmazonEmber-Regular";
				font-style: normal;
				letter-spacing: 0px;
				text-align: left;
				line-height: 18px;
				margin-left: 19px;
			}
		}

		.suggestion {
			display: flex;
			align-items: center;
			padding: 9px 18px;
			border-bottom: 1px solid rgba(242, 242, 247, 1);
			cursor: pointer;

			svg {
				fill: var(--grey-color);
				min-width: 24px;
				min-height: 24px;
				width: 24px;
				height: 24px;
			}

			.description {
				margin-left: 19px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.title {
					opacity: 1;
					color: rgba(35, 47, 62, 1);
					font-size: 13px;
					font-family: "AmazonEmber-Regular";
					font-style: normal;
					letter-spacing: 0px;
					text-align: left;
					line-height: 18px;
				}

				.address {
					color: var(--grey-color);
				}
			}

			&:hover {
				background-color: var(--ghost-white);
			}
		}
	}

	.route-data-container {
		display: flex;
		flex-direction: column;
		overflow: auto;

		.route-info {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 18px 16px;
			border-bottom: 1px solid rgba(242, 242, 247, 1);
			position: relative;

			svg {
				width: 20px;
				height: 20px;
				fill: #8e8e93;
			}

			.travel-and-distance {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 15px;

				.selected-travel-mode {
					display: flex;
					align-items: center;

					.dark-text {
						opacity: 1 !important;
						color: rgba(35, 47, 62, 1) !important;
						font-family: "AmazonEmber-Bold" !important;
						font-size: 13px !important;
						font-style: normal !important;
						letter-spacing: 0px !important;
						text-align: left !important;
						line-height: 18px !important;
					}

					.separator {
						width: 3px;
						height: 3px;
						border-radius: 50%;
						background-color: rgba(199, 199, 204, 1);
						margin: 0px 5px;
					}
				}

				.grey-text {
					opacity: 1 !important;
					color: rgba(142, 142, 147, 1) !important;
					font-size: 13px !important;
					font-family: "AmazonEmber-Regular";
					font-style: normal !important;
					letter-spacing: 0px !important;
					text-align: left !important;
					line-height: 18px !important;
				}
			}

			.duration {
				position: absolute;
				right: 16px;

				.regular-text {
					opacity: 1 !important;
					color: rgba(35, 47, 62, 1) !important;
					font-size: 13px !important;
					font-family: "AmazonEmber-Regular";
					font-style: normal !important;
					letter-spacing: 0px !important;
					text-align: right !important;
					line-height: 18px !important;
				}

				@media only screen and (max-width: 425px) {
					width: 100px;
				}
			}
		}

		.route-info-mobile {
			gap: 0;
			padding: 1.23rem 0rem;

			&.border-bottom {
				border-bottom: 1px solid rgba(242, 242, 247, 1);
			}

			.time-and-distance {
				gap: 0;
				flex-direction: column;
			}

			.go-button {
				width: 5.92rem;
				height: 3.08rem;
				font-size: 1.08rem;
			}
		}

		.steps-container {
			overflow-y: scroll;
			padding: 0 1rem;

			&.steps-container-mobile {
				padding: 0;
				.step-card-icon-container {
					margin-left: 0;
				}
			}
		}
	}

	.show-hide-details-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: var(--light-color-2);

		.text {
			font-family: AmazonEmber-Bold;
			font-size: 0.92rem;
			margin-right: 0.31rem;
			color: var(--primary-color);
		}

		svg {
			width: 18px;
			height: 18px;
			fill: var(--primary-color);
		}

		@media only screen and (min-width: 1024px) {
			display: none;
		}
	}

	@media only screen and (max-width: 480px) {
		width: 75% !important;

		.from-to-container {
			padding: 2% !important;

			.input-container {
				gap: 0;
				margin: 0px 10px 0px 10px;
			}
		}
	}
}

.route-option-items {
	display: flex;
	flex-direction: column;

	.option-item {
		padding: 10px 0px;
		gap: 0;

		.amplify-flex.amplify-checkbox {
			.amplify-text.amplify-checkbox__label {
				opacity: 1 !important;
				color: rgba(35, 47, 62, 1) !important;
				font-size: 13px !important;
				font-family: "AmazonEmber-Regular";
				font-style: normal !important;
				letter-spacing: 0px !important;
				text-align: left !important;
				line-height: 18px !important;
				margin-left: 16px;
			}

			.amplify-flex.amplify-checkbox__button {
				width: 20px;
				height: 20px;

				.amplify-icon.amplify-checkbox__icon {
					display: flex;
					justify-content: center !important;
					align-items: center !important;
					background-color: #008296 !important;
					width: 100% !important;
					height: 100% !important;

					svg {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

.expand-mobile-close {
	position: absolute;
	top: 11px;
	right: 10px;
}
