/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.feedback-modal-container {
	max-width: 67.08rem;
	max-height: 54.62rem;

	@media only screen and (max-width: 1023px) {
		padding: 5%;
		overflow-x: hidden;
		max-width: unset;
		max-height: unset;
		border-radius: 0rem;
	}

	@media only screen and (max-width: 500px) {
		padding-top: 8%;
	}

	.content-container {
		gap: 0;
		height: 100%;
		padding: 4.31rem;

		@media only screen and (max-width: 1023px) {
			flex-direction: column;
			overflow-y: auto;
			overflow-x: hidden;
		}

		@media only screen and (max-width: 500px) {
			padding: 5%;
		}

		.amplify-flex.left-col {
			gap: 0;
			width: 100%;
			max-width: 27.69rem;
			flex-direction: column;
			align-items: center;

			@media screen and (max-width: 1023px) {
				max-width: none;
			}

			.title-container {
				text-align: center;
			}

			.body {
				width: 100%;
				max-width: 27.69rem;

				@media screen and (max-width: 1023px) {
					max-width: none;
				}
			}
		}

		.amplify-flex.right-col {
			gap: 0;
			width: 100%;
			max-width: 24.62rem;
			flex-direction: column;
			align-items: center;
			margin-left: 6.15rem;

			@media only screen and (max-width: 1023px) {
				width: 100%;
				max-width: none;
				margin: 2.31rem 0rem;
			}
		}

		.step-number {
			min-width: 24px;
			width: 100%;
			max-width: 24px;
			height: 24px;
			border-radius: 4px;
			background-color: var(--border-separator-color);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
