/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

/* SCSS imports */
@import "./styles/amplifyOverride.scss";
@import "./styles/global.scss";
@import "./styles/util.scss";
@import "./styles/rootVars.scss";

html {
	/* Default font-size set to 13px */
	font-size: 81.3%;
}

body {
	margin: 0;
}

html,
body,
#root,
[data-amplify-theme="aws-location-theme"] {
	min-height: 100%;
	height: 100%;
	width: 100%;
}

* {
	scrollbar-width: thin !important;
	scrollbar-color: var(--scrollbar-color) var(--white-color) !important;
}

*::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}

*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color);
	border-radius: 2px;
}
