/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.tabs-container {
	background-color: white;
	padding: 10px;

	img {
		border-radius: 10px !important;
	}

	.amplify-tabs {
		padding-top: 2px;

		.amplify-tabs-item {
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		}

		.amplify-tabs-item:first-child {
			margin-left: 20px;
		}
	}

	[id*="content"] {
		background-color: white;
		padding: 20px;
		border: solid lightgray 1px;
		border-style: none solid solid solid;
		border-radius: 0px 0px 10px 10px;
		min-height: 500px;
	}

	.amplify-tabs-item[data-state="active"] {
		background-color: white;
	}

	.title-container {
		background-color: var(--grey-ultra-light-color);
		padding: 30px;
		align-items: center;
		border-radius: 10px 10px 0px 0px;
	}

	.tab-item {
		color: black;
		border: none;
		padding: 8px 20px 8px 20px;
	}
}
