/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.amplify-card.tracking-card {
	width: 27.69rem;
	position: absolute;
	top: 1.62rem;
	overflow: hidden;
	z-index: 4;

	&.tracking-card-mobile {
		position: relative;
		width: 100% !important;
		box-shadow: none;
		left: 0 !important;
		overflow: initial;
		top: 0;

		.tracking-card-header {
			border-bottom: none;
			padding-top: 0;
			padding-bottom: 0.2rem;
		}
	}

	.tracking-card-header {
		gap: 0;
		padding: 0.77rem 0.77rem 0.77rem 1.23rem;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--grey-color-3);

		.tracking-card-caret {
			gap: 0;
			position: absolute;
			right: 4rem;
			cursor: pointer;
			display: flex;

			svg {
				fill: var(--grey-color);
				width: 1.54rem;
				height: 1.54rem;
			}

			@media only screen and (min-width: 1024px) {
				display: none;
			}
		}

		.tracking-card-close {
			gap: 0;
			padding-left: 0.77rem;
			border-left: 1px solid var(--grey-color-3);
			cursor: pointer;

			svg {
				fill: var(--grey-color);
				width: 1.54rem;
				height: 1.54rem;

				&:hover {
					fill: var(--primary-color);
				}
			}
		}
	}

	.icon-plus-rounded {
		min-width: 1.54rem;
		min-height: 1.54rem;
		fill: var(--primary-color);
	}

	.marker-container {
		gap: 0;
		padding: 1.23rem;
		align-items: center;
		border-top: 1px solid var(--grey-color-3);
		border-bottom: 1px solid var(--grey-color-3);
		position: relative;

		.icon-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2.46rem;
			height: 2.46rem;
			border-radius: 8px;
			cursor: pointer;

			svg {
				fill: var(--grey-color);
			}

			&.selected {
				background-color: rgba(0, 130, 150, 0.08);

				svg {
					fill: var(--primary-color);
				}
			}

			&.disabled {
				cursor: not-allowed;

				svg {
					fill: var(--grey-color-1);
				}
			}
		}

		.buttons-container {
			gap: 0;
			justify-content: space-between;
			position: absolute;
			right: 1.23rem;

			.button {
				cursor: pointer;
			}

			.play-pause-button {
				width: 6rem;
			}

			.edit-button {
				background-color: var(--secondary-button-bg-color);
				border: 1px solid var(--primary-color);
				color: var(--primary-color);
				font-size: 0.92rem;
				font-family: "AmazonEmber-Bold";
				margin-left: 0.62rem;

				.edit-icon {
					g > g {
						fill: var(--primary-color);
					}
				}
			}
		}
	}

	.tracker-point-list-item {
		gap: 0;
		align-items: center;
		padding: 1.23rem;

		.icon-container {
			gap: 0;
			flex-direction: column;
			overflow: visible;
			position: relative;

			svg {
				fill: var(--primary-color);
			}

			.dotted-line {
				display: flex;
				align-self: center;
				position: absolute;
				height: 2.46rem;
				top: 1.62rem;
				border-left: 4px dotted var(--grey-color-3);
			}
		}
	}

	.show-hide-details-container {
		gap: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: var(--light-color-2);
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;

		.text {
			font-family: AmazonEmber-Bold;
			font-size: 0.92rem;
			margin-right: 0.31rem;
			color: var(--primary-color);
		}

		svg {
			width: 18px;
			height: 18px;
			fill: var(--primary-color);
		}

		@media only screen and (min-width: 1024px) {
			display: none;
		}
	}

	@media only screen and (max-width: 480px) {
		width: 75%;
	}
}
