/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.step-card {
	display: flex;
	height: 64px;
}

.bottom-border-radius {
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}

.step-card-icon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 21px;
}

.step-card-icon-container {
	.line-top,
	.line-bottom {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 24px;

		.circle {
			border-radius: 2px;
			height: 4px;
			width: 4px;
			background-color: var(--primary-color);
		}
	}
}

.step-card-icon-container > svg.icon-segment {
	margin-top: 24px;
}

.step-card-icon-container > svg {
	width: 16px;
	height: 16px;
}

.step-card-details {
	margin: 14px 0px 0px 16px;
}

.step-card-details > p:nth-child(1) {
	opacity: 1 !important;
	color: rgba(35, 47, 62, 1) !important;
	font-family: "AmazonEmber-Bold" !important;
	font-size: 13px !important;
	font-style: normal !important;
	letter-spacing: 0px !important;
	text-align: left !important;
	line-height: 18px !important;
}

.step-card-details > p:nth-child(2) {
	opacity: 1 !important;
	color: rgba(142, 142, 147, 1) !important;
	font-size: 13px !important;
	font-family: "AmazonEmber-Regular";
	font-style: normal !important;
	letter-spacing: 0px !important;
	text-align: left !important;
	line-height: 18px !important;
}
