/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.filter-modal-container {
	display: flex;
	justify-content: space-around;
	padding: 100px 0px;

	.filter-modal {
		width: 500px;
		max-width: 90%;

		.filter-modal-content {
			gap: 0;
			flex-direction: column;
			height: 100%;

			.title-bar {
				font-family: "AmazonEmber-Medium";
				justify-content: space-between;
				padding: 20px;
				border-bottom: solid var(--grey-color-2) 1px;
				font-size: medium;

				.close-icon {
					cursor: pointer;
				}

				.back {
					font-size: larger;
					color: #788283;
					cursor: pointer;
				}

				.clear-button {
					background-color: var(--grey-color-3);
					font-weight: 100;
					&:hover {
						color: black;
					}
				}
			}

			.category-container,
			.options-container {
				flex: 1;
				overflow-x: auto;

				.category,
				.option {
					font-weight: bold;
					font-size: 1.3em;
					cursor: pointer;
					padding: 15px;
					border-bottom: solid var(--grey-color-2) 1px;
					justify-content: space-between;
				}

				.category {
					.counter-badge {
						background-color: #545b64;
						color: white;
						padding: 7px 12px;
						border-radius: 12px;
					}
				}
			}

			.submit-button {
				margin: 10px;
				padding: 15px;
			}
		}
	}
}
