/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.amplify-card.geofence-card {
	width: 360px;
	position: absolute;
	top: 21px;
	overflow: hidden;
	z-index: 4;

	.geofence-card-header {
		gap: 0;
		padding: 10px 10px 10px 16px;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--grey-color-3);

		.back-icon {
			fill: var(--grey-color);
			cursor: pointer;
			height: 20px;
			width: 20px;
		}

		.geofence-action {
			gap: 0;
			align-items: center;
			cursor: pointer;

			svg {
				width: 20px;
				height: 20px;
				fill: var(--primary-color);
				margin-right: 8px;
			}

			p {
				color: var(--primary-color) !important;
				margin-right: 16px;
			}
		}

		.geofence-card-close {
			gap: 0;
			padding-left: 10px;
			border-left: 1px solid var(--grey-color-3);
			cursor: pointer;
		}

		.geofence-card-close > svg {
			fill: var(--grey-color);
			width: 20px;
			height: 20px;
		}

		.geofence-card-close > svg:hover {
			fill: var(--primary-color);
		}
	}

	.icon-plus-rounded {
		gap: 0;
		justify-content: center;
		align-items: center;
		min-width: 20px;
		min-height: 20px;
		border-radius: 50%;
		background-color: var(--primary-color);

		svg {
			width: 18px;
			height: 18px;
			fill: var(--white-color);
		}
	}

	.icon-search-container {
		gap: 0;
		align-items: center;

		svg {
			fill: var(--grey-color);
			cursor: pointer;

			&:hover {
				fill: var(--primary-color);
			}
		}
	}

	.border-top {
		border-top: 1px solid rgba(242, 242, 247, 1);
	}

	.suggestion {
		gap: 0;
		align-items: center;
		padding: 9px 18px;
		border-bottom: 1px solid rgba(242, 242, 247, 1);
		cursor: pointer;

		svg {
			fill: var(--grey-color);
			min-width: 24px;
			min-height: 24px;
			width: 24px;
			height: 24px;
		}

		&:hover {
			background-color: var(--ghost-white);
		}
	}

	.amplify-sliderfield__root.amplify-sliderfield__root--horizontal.geofence-radius-slider
		> span.amplify-sliderfield__track.amplify-sliderfield__track--horizontal {
		height: 4px;
		background-color: var(--grey-color-1);
	}

	.amplify-sliderfield__root.amplify-sliderfield__root--horizontal.geofence-radius-slider
		> span:nth-child(2)
		> span.amplify-sliderfield__thumb {
		border: none;
		opacity: 1;
		box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.12), 0px 0.5px 4px rgba(0, 0, 0, 0.12);
		background-color: var(--white-color);
		width: 2.15rem;
		height: 2.15rem;
	}

	.radius-input-container {
		width: 6rem;
		height: 3.08rem;
		margin-right: 0.62rem;

		.input-container {
			padding: 0.15rem;

			input {
				text-align: center;
				font-size: 1rem;
				font-family: "AmazonEmber-Regular";
				line-height: 1.38rem;
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				display: none;
			}
		}
	}

	.amplify-flex.amplify-field.amplify-selectfield.unit-select-field {
		border-radius: 0.62rem;
		background-color: var(--light-color-2);

		.amplify-select__wrapper {
			.amplify-select:focus {
				box-shadow: none;
			}

			.amplify-select.amplify-field-group__control {
				border-radius: 0.62rem;
				height: 3.08rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.geofence-box-suggestion {
		gap: 0;
	}

	.geofences-list-container {
		max-height: 50vh;
		overflow: scroll;
		position: relative;

		.border-bottom {
			border-bottom: 1px solid var(--border-separator-color);
		}

		.geofence-item {
			gap: 0;
			padding: 10px 0px 10px 10px;
			align-items: center;
			cursor: pointer;

			&:hover {
				background-color: var(--ghost-white);
			}
		}

		.icon-trash-container {
			display: flex;
			align-items: center;

			svg {
				fill: var(--grey-color);
				width: 16px;
				height: 16px;
				cursor: pointer;
				position: absolute;
				right: 16px;

				&:hover {
					fill: var(--primary-color);
					background: var(--border-separator-color);
					border-radius: 2px;
				}
			}
		}

		.icon-trash-container-diabled {
			display: flex;
			align-items: center;

			svg {
				fill: var(--grey-color);
				width: 16px;
				height: 16px;
				cursor: pointer;
				position: absolute;
				right: 16px;
			}
		}
	}

	.show-hide-details-container {
		gap: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: var(--light-color-2);
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;

		.text {
			font-family: AmazonEmber-Bold;
			font-size: 0.92rem;
			margin-right: 0.31rem;
			color: var(--primary-color);
		}

		svg {
			width: 18px;
			height: 18px;
			fill: var(--primary-color);
		}

		@media only screen and (min-width: 1024px) {
			display: none;
		}
	}

	@media only screen and (max-width: 480px) {
		width: 75% !important;
	}
}
