/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.confirmation-modal {
	max-width: 30rem;
	max-height: 35rem;
	padding: 2.77rem;
}

@media screen and (max-width: 960px) {
	.confirmation-modal {
		width: 90% !important;
		height: 90% !important;
	}
}
