/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.info-block {
	border: solid var(--grey-color-2) 1px;
	border-radius: 12px;

	.title-container {
		border-radius: 12px 12px 0px 0px;
		padding: 25px;
		background-color: var(--grey-ultra-light-color);
	}
	.body-container {
		padding: 25px;
		color: var(--grey-color);
		line-height: 1.5em;
	}
}
