/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.settings-modal {
	max-width: 52rem;
	max-height: 49.23rem;
	padding: 0 2px 2px 0;

	&.settings-modal-tablet {
		max-width: 100% !important;
		max-height: 100% !important;
		width: 100% !important;
		height: 100% !important;
		border-radius: 0;
	}

	&.settings-modal-mobile {
		.modal-close {
			display: none;
		}
	}

	.settings-modal-content {
		gap: 0;
		height: 100%;
		max-height: 49.23rem;

		.option-title {
			font-size: 1rem;
			line-height: 1.38rem;
			padding: 1.46rem 0rem 1.46rem 1.15rem;
			display: flex;
		}

		&.settings-modal-content-tablet {
			max-height: fit-content;
		}

		&.settings-modal-content-mobile {
			.options-container, .option-details-container {
				width: 100%;
			}

			.option-details-container {
				.option-title {
					font-family: "AmazonEmber-Bold";
					font-size: 1.23rem;
					align-items: center;

					.back-arrow {
						margin-right: 1rem;
					}
				}
			}
		}

		.options-container {
			gap: 0;
			width: 33.67%;
			flex-direction: column;

			.option-item {
				gap: 0;
				align-items: center;
				padding: 0.77rem 0rem 0.77rem 1.23rem;
				height: 4.31rem;
				cursor: pointer;
				border-left-width: 2px;
				border-left-style: solid;
				border-left-color: var(--white-color);

				&.option-item-mobile {
					justify-content: space-between;
					.option-arrow {
						svg {
							transform: rotate(270deg);
						}
					}
				}

				svg {
					fill: var(--grey-light-color);
					width: 1.23rem;
					height: 1.23rem;
					min-width: 1.23rem;
					min-height: 1.23rem;
					margin-right: 1.23rem;
				}

				@media only screen and (min-width: 1024px) {
					&:hover {
						background-color: rgba(0, 130, 150, 0.08);

						svg {
							fill: var(--primary-color);
						}
					}
				}

				&.selected {
					border-left-color: var(--primary-color);
					background-color: rgba(0, 130, 150, 0.08);

					svg {
						fill: var(--primary-color);
					}
				}
			}
		}

		.amplify-divider.amplify-divider--vertical.col-divider {
			border-left-width: 1px;
			border-color: var(--light-color-2);
		}

		.option-details-container {
			gap: 0;
			width: 66.33%;
			flex-direction: column;

			.amplify-divider.amplify-divider--horizontal.styles-divider {
				border-bottom-width: 1px;
				border-color: var(--grey-color-3);
			}

			.amplify-flex.sm-styles-container {
				gap: 1;
				margin-top: 0.62rem;
				flex-wrap: wrap;

				.amplify-flex.sm-style {
					gap: 0;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					width: 8rem;

					img {
						border-radius: 8px;
						width: 100%;
						height: 6.15rem;
					}

					&.selected {
						img {
							border: 1px solid var(--primary-color);
						}

						p {
							color: var(--primary-color);
						}
					}
				}

				@media screen and (max-width: 460px) {
					justify-content: space-evenly;
				}
			}

			.amplify-flex.amplify-field.amplify-checkboxfield.sm-checkbox {
				padding: 1.08rem 0rem;

				.amplify-flex.amplify-checkbox {
					gap: 0;
				}

				.amplify-text.amplify-checkbox__label {
					font-family: "AmazonEmber-Regular";
					font-size: 1rem;
					line-height: 1.38rem;
					color: var(--heading-text-color);
					margin-left: 1.23rem;
				}

				.amplify-flex.amplify-checkbox__button {
					width: 1.54rem;
					height: 1.54rem;
				}

				.amplify-flex.amplify-checkbox__button > span {
					width: 1.54rem !important;
					height: 1.54rem !important;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.amplify-flex.amplify-checkbox__button > span > svg {
					stroke-width: 4px;
					stroke-linejoin: bevel;
					stroke: var(--white-color);
					width: 8px;
					height: 8px;
				}
			}

			.sm-aws-cloudformation-container {
				gap: 0;
				flex-direction: column;
				overflow-x: hidden;
				overflow-y: scroll;

				.sm-aws-cloudformation-form {
					gap: 0;
					flex-direction: column;
					align-items: center;
					padding: 1.23rem;

					.step-number {
						min-width: 24px;
						width: 100%;
						max-width: 24px;
						height: 24px;
						border-radius: 4px;
						background-color: var(--border-separator-color);
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.hyperlink {
						cursor: pointer !important;
						color: var(--primary-color) !important;
					}

					.amplify-text.step-two-description {
						font-family: "AmazonEmber-Regular";
						font-size: 1rem;
						line-height: 1.38rem;
						color: var(--grey-color);
						margin-top: 0.31rem;

						a {
							font-family: "AmazonEmber-Bold";
							color: var(--primary-color);
							cursor: pointer;
							text-decoration: none;
						}
					}

					.icon-check-mark-circle {
						fill: var(--success);
						width: 88px;
						height: 88px;
					}
				}
			}
		}
	}

	.setting-title-container-mobile {
		flex-direction: column;
		display: flex;
		line-height: 1.38rem;
		padding: 1.46rem 0rem;

		.option-title {
			display: flex;
			font-family: "AmazonEmber-Bold";
			font-size: 1.23rem;
			align-items: center;
			margin-left: 1.15rem;

			svg {
				margin-right: 1rem;
			}
		}
	}

	@media screen and (max-width: 960px) {
		width: 98% !important;
		height: 95% !important;
	}
}
