/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

@keyframes animateWidth {
	0% {
		opacity: 0;
		max-width: 40px;
	}

	100% {
		opacity: 1;
		max-width: 1000px;
		/* Set this to a value larger than what the width could ever be */
	}
}

.amplify-flex.map-styles-geofence-and-tracker-container {
	gap: 0;
	position: absolute;
	top: 1.54rem;
	right: 2rem;
	z-index: 4;
	flex-direction: column;
	width: 2.46rem;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.202633);
	border-radius: 0.62rem;
	background-color: var(--white-color);
	justify-content: space-evenly;
	align-items: center;

	.map-styles-button,
	.geofence-button,
	.tracker-button {
		width: 100%;
		height: 100%;
		cursor: pointer;
		justify-content: center;
		align-items: center;
	}

	.map-styles-button {
		border-top-left-radius: 0.62rem;
		border-top-right-radius: 0.62rem;
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;

		@media screen and (max-width: 1023px) {
			border-bottom-left-radius: 0.62rem;
			border-bottom-right-radius: 0.62rem;
		}
	}

	.tracker-button {
		border-top-left-radius: 0rem;
		border-top-right-radius: 0rem;
		border-bottom-left-radius: 0.62rem;
		border-bottom-right-radius: 0.62rem;
	}
}

.map-styles-button > svg,
.geofence-button > svg,
.tracker-button > svg {
	fill: var(--grey-contrast-color);
	width: 1.15rem;
	height: 1.15rem;
}

.map-styles-button:hover,
.geofence-button:hover,
.tracker-button:hover,
.map-styles-button:hover > svg,
.geofence-button:hover > svg,
.tracker-button:hover > svg {
	@media only screen and (min-width: 1024px) {
		background-color: var(--ghost-white);
		fill: var(--primary-color);
	}
}

.active,
.active > svg {
	background-color: var(--white-color) !important;
	fill: var(--primary-color) !important;
}

.amplify-divider.amplify-divider--horizontal.button-divider {
	border-bottom: 1px solid var(--grey-color-3);
}

.amplify-card.map-styles-card {
	width: 27.85rem;
	position: absolute;
	top: 1.54rem;
	right: 5.38rem;
	z-index: 3;

	.amplify-flex.map-styles-header {
		gap: 0;
		padding: 0rem 1.23rem;
		flex-direction: row;
		justify-content: space-between;

		.amplify-flex.map-styles-icon-close-container {
			gap: 0;
			margin-top: 0.46rem;

			svg {
				fill: var(--grey-color);

				@media only screen and (min-width: 1024px) {
					&:hover {
						fill: var(--primary-color);
					}
				}
			}
		}
	}

	@media only screen and (max-width: 950px) {
		& {
			z-index: 4;
		}
	}
}

.amplify-flex.map-styles-wrapper {
	gap: 0;

	.maps-container {
		height: 35rem;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;

		.clear-filters-button {
			color: var(--primary-color);
			font-weight: 600;

			&:hover {
				color: var(--primary-contrast-color);
			}
		}
	}

	.amplify-divider.amplify-divider--horizontal.mb-divider {
		border-bottom-width: 0.08rem;
		border-color: var(--grey-color-3);
		margin: 0px auto;
		width: 92%;
	}

	.amplify-flex.maps-container {
		.mb-style-container:nth-of-type(1),
		.mb-style-container:nth-of-type(2),
		.mb-style-container:nth-of-type(3) {
			margin-top: 0;
		}
	}

	.amplify-flex.mb-style-container {
		gap: 0;
		margin: 0 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.map-image {
			border-radius: 0.62rem;
			min-width: 7.6rem;
			max-height: 6.31rem;
			width: 100%;
			height: 100%;

			&.only-map {
				min-width: auto;
			}

			&.hand-device-img {
				min-width: 6.15rem;
				max-width: 6.15rem;
				height: 6.15rem;
			}
		}

		&.selected {
			img {
				border: 0.08rem solid var(--primary-color);
			}

			p {
				color: var(--primary-color);
			}
		}
	}

	.amplify-flex.map-data-provider {
		gap: 0;
		padding: 0.77rem 1.23rem;
		justify-content: space-between;
		width: 100%;
		cursor: pointer;

		@media only screen and (min-width: 1024px) {
			&:hover {
				background-color: rgba(0, 130, 150, 0.08);
			}
		}
	}

	.selected-map-data-provider {
		background-color: rgba(0, 130, 150, 0.08);
	}

	@media only screen and (max-width: 480px) {
		right: 4.46rem;
	}
}
