/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

@keyframes animateWidth {
	0% {
		opacity: 0;
		max-width: 40px;
	}

	100% {
		opacity: 1;
		max-width: 1000px;
		/* Set this to a value larger than what the width could ever be */
	}
}

.amplify-flex.map-styles-geofence-and-tracker-container {
	gap: 0;
	position: absolute;
	top: 1.54rem;
	right: 2rem;
	z-index: 4;
	flex-direction: column;
	width: 2.46rem;
	height: 7.38rem;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.202633);
	border-radius: 0.62rem;
	background-color: var(--white-color);
	justify-content: space-evenly;
	align-items: center;

	@media screen and (max-width: 1023px) {
		height: 2.4rem;
	}

	.map-styles-button,
	.geofence-button,
	.tracker-button {
		width: 100%;
		height: 100%;
		cursor: pointer;
		justify-content: center;
		align-items: center;
	}

	.map-styles-button {
		border-top-left-radius: 0.62rem;
		border-top-right-radius: 0.62rem;
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;

		@media screen and (max-width: 1023px) {
			border-bottom-left-radius: 0.62rem;
			border-bottom-right-radius: 0.62rem;
		}
	}

	.tracker-button {
		border-top-left-radius: 0rem;
		border-top-right-radius: 0rem;
		border-bottom-left-radius: 0.62rem;
		border-bottom-right-radius: 0.62rem;
	}
}

.map-styles-button > svg,
.geofence-button > svg,
.tracker-button > svg {
	fill: var(--grey-contrast-color);
	width: 1.15rem;
	height: 1.15rem;
}

.map-styles-button:hover,
.geofence-button:hover,
.tracker-button:hover,
.map-styles-button:hover > svg,
.geofence-button:hover > svg,
.tracker-button:hover > svg {
	@media only screen and (min-width: 1024px) {
		background-color: var(--ghost-white);
		fill: var(--primary-color);
	}
}

.active,
.active > svg {
	background-color: var(--white-color) !important;
	fill: var(--primary-color) !important;
}

.amplify-divider.amplify-divider--horizontal.button-divider {
	border-bottom: 1px solid var(--grey-color-3);
}

.amplify-card.map-styles-card {
	width: 27.85rem;
	position: absolute;
	top: 1.54rem;
	right: 5.38rem;
	z-index: 3;

	.amplify-flex.map-styles-header {
		gap: 0;
		padding: 0rem 1.23rem;
		flex-direction: row;
		justify-content: space-between;

		.amplify-flex.map-styles-icon-close-container {
			gap: 0;
			margin-top: 0.46rem;

			svg {
				fill: var(--grey-color);

				@media only screen and (min-width: 1024px) {
					&:hover {
						fill: var(--primary-color);
					}
				}
			}
		}
	}

	@media only screen and (max-width: 950px) {
		& {
			z-index: 4;
		}
	}

	.amplify-flex.ms-info-container {
		gap: 0;
		padding: 0 1.23rem;
		align-items: center;
	}
}

.amplify-flex.map-styles-wrapper {
	&:not(.only-map-styles) {
		.maps-container {
			height: 31.1rem;

			&.grab-visible {
				height: 33.66rem;
			}

			overflow-y: scroll;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;

			.clear-filters-button {
				color: var(--primary-color);
				font-weight: 600;

				&:hover {
					color: var(--primary-contrast-color);
				}
			}
		}
	}

	.responsive-map-footer {
		position: fixed;
		bottom: 0;
		background: var(--white-color);
		padding: 1.07rem 1.14rem 2.61rem 1.14rem;
		align-items: flex-start;
		width: 100%;
		justify-content: space-between;
		z-index: 9;
		border-top: 1px solid var(--grey-color-3);
		align-items: center;

		.apply-button {
			font-family: "AmazonEmber-Bold";
			font-size: 1.07rem;
			padding: 0.72rem 2.23rem;
			text-align: center;
		}

		.clear-selection-button {
			border: none;
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;
			font-family: "AmazonEmber-Bold";
			font-size: 1rem;
			text-align: center;

			&:active,
			&:focus {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}

	.maps-styles-search {
		margin: 1rem 0;
		gap: 0;

		&.responsive-search {
			overflow-y: auto;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			margin-bottom: 0 !important;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.map-providers-container-mobile {
			padding: 0rem 0.6rem;
			padding-left: 0;
			margin-left: 0.55rem;

			button {
				border: 1px solid var(--grey-color-3);
				padding: 0.3rem 1.84rem;
				font-size: 1.23rem;

				&.active-button {
					border: 1px solid var(--primary-color);
					background-color: transparent;
					box-shadow: none;
				}

				&:active,
				&:focus,
				&:hover {
					background-color: transparent;
					box-shadow: none;
				}
			}
		}

		.amplify-input {
			font-size: 14px;
		}

		&.with-filters {
			.map-styles-search-field {
				border-bottom-left-radius: 0;
				border-bottom: none;
			}

			.filter-container {
				border-bottom-right-radius: 0;
				border-bottom: none;
			}
		}

		.map-styles-search-field {
			border: 1px solid var(--grey-color-3);
			border-top-left-radius: 0.6rem;
			border-bottom-left-radius: 0.6rem;
			border-right: none;
			width: 100%;
			transition: width 0.2s;

			::placeholder {
				color: var(--grey-color);
			}

			.search-icon-container {
				display: flex;
				align-items: center;
				height: 100%;
				padding: 0.7rem;
			}

			.amplify-field-group__inner-end {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.amplify-button.amplify-field-group__icon-button {
					border-radius: 50%;

					&:hover,
					&:focus,
					&:active {
						background-color: transparent;
						box-shadow: none;
					}
				}

				.amplify-icon {
					font-size: 1.3rem;
					color: var(--grey-light-color);

					&:hover {
						color: var(--primary-color);
					}
				}
			}
		}

		.search-bar-icon {
			fill: var(--grey-light-color);
			width: 1.5rem;
			height: 1.5rem;
		}

		.filter-container {
			display: flex;
			align-items: center;
			border: 1px solid var(--grey-color-3);
			border-left: none;
			border-top-right-radius: 0.6rem;
			border-bottom-right-radius: 0.6rem;
			cursor: pointer;
			z-index: 9;

			.filter-icon-wrapper {
				display: flex;
				align-items: center;
				border-left: 1px solid var(--light-color-2);
				padding: 0 0.7rem;
				height: 75%;
				gap: 0;

				.filter-bubble {
					width: 8px;
					height: 8px;

					&.live {
						background-color: orange;
						border-radius: 50%;
						display: flex;
						position: relative;
						top: -6px;
						left: -8px;
					}
				}

				.filter-icon {
					width: 1.6rem;
					height: 1.6rem;

					&.live {
						path {
							fill: var(--primary-color);
						}
					}

					path {
						fill: var(--grey-light-color);
					}
				}
			}
		}
	}

	.maps-filter-container {
		margin: 0 1.2rem 1.2rem;
		border: 1px solid var(--grey-color-3);
		border-bottom-left-radius: 0.6rem;
		border-bottom-right-radius: 0.6rem;
		padding: 1rem 1.5rem;

		&.responsive-filter {
			animation: animateWidth 0.2s ease-in-out;
			margin-bottom: 5rem;
		}
	}

	.amplify-divider.amplify-divider--horizontal.mb-divider {
		border-bottom-width: 0.08rem;
		border-color: var(--grey-color-3);
		margin: 0px auto;
		width: 92%;
	}

	.amplify-flex.maps-container {
		.mb-style-container:nth-of-type(1),
		.mb-style-container:nth-of-type(2),
		.mb-style-container:nth-of-type(3) {
			margin-top: 0;
		}
	}

	.amplify-flex.mb-style-container {
		gap: 0;
		margin: 0 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.map-image {
			border-radius: 0.62rem;
			min-width: 7.6rem;
			max-height: 6.31rem;
			width: 100%;
			height: 100%;

			&.only-map {
				min-width: auto;
			}

			&.hand-device-img {
				min-width: 6.15rem;
				max-width: 6.15rem;
				height: 6.15rem;
			}
		}

		&.selected {
			img {
				border: 0.08rem solid var(--primary-color);
			}

			p {
				color: var(--primary-color);
			}
		}
	}

	.amplify-flex.map-data-provider {
		gap: 0;
		padding: 0.77rem 1.23rem;
		justify-content: space-between;
		width: 100%;
		cursor: pointer;

		@media only screen and (min-width: 1024px) {
			&:hover {
				background-color: rgba(0, 130, 150, 0.08);
			}
		}
	}

	.selected-map-data-provider {
		background-color: rgba(0, 130, 150, 0.08);
	}

	@media only screen and (max-width: 480px) {
		right: 4.46rem;
	}
}
