/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.amplify-card.side-bar {
	--amplify-components-flex-align-items: "center";
	--amplify-components-card-background-color: var(--card-backgound-color);
	--amplify-components-card-border-radius: var(--border-radius);
	display: flex;
	position: absolute;
	top: 8px;
	left: 8px;
	bottom: 8px;
	width: 100%;
	max-width: 223px;
	flex-direction: column;
	justify-items: flex-start;
	align-items: center;
	z-index: 4;
	padding: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	font-family: var(--regular-font-family);

	.title-bar {
		justify-content: space-between;
		width: 100%;
		align-items: center;

		.site-logo__container {
			border-bottom: 1px solid var(--border-separator-color);
		}

		.icon-container {
			padding: 0px 20px;
			display: none;
		}
	}
	.menu-icon {
		width: 20px;
		height: 20px;
	}
}

.sidebar-close {
	display: none;
}

@media screen and (max-width: 600px) {
	.amplify-card.side-bar {
		width: auto;
		max-width: none;
		right: 8px;
		z-index: 6;

		.title-bar {
			border-bottom: 1px solid var(--border-separator-color);

			.site-logo__container {
				border-bottom: none;
			}

			.icon-container {
				display: block;
			}
		}
	}

	.sidebar-close {
		position: absolute;
		top: 8px;
		right: 8px;
		display: block;
	}
}

.side-bar__menu {
	border-bottom: 1px solid var(--border-separator-color);
	font-size: var(--primary-text-size);
	font-family: "AmazonEmber-Regular";
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;

	.link-item {
		gap: 16px;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		text-decoration: none;
		padding: 8px 16px;
		height: 40px;
		cursor: pointer;

		svg:nth-child(1) {
			fill: var(--grey-color);
		}

		.locked-item {
			gap: 0;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: 16px;

			.lock-icon {
				width: 14px;
				height: 14px;
				fill: var(--grey-light-color);
			}
		}

		&:hover {
			background: var(--hovered-menu-backround-color);
		}
	}
}

.side-bar__external-menu {
	min-height: 15rem;
	max-height: 40rem;
	overflow-y: auto;

	li {
		a {
			padding: 8px 16px;
			height: 40px;
		}
	}
}

.side-bar > .button-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	padding: 16px;
}

.button-wrapper > .disconnect-button {
	background-color: var(--red-color);
}

.button-wrapper > .disconnect-button:hover {
	background-color: var(--red-color);
}

.button-wrapper > .disconnect-button:active {
	background-color: var(--red-color);
}

.button-wrapper > .disconnect-button:focus {
	background-color: var(--red-color);
}

.list-item,
.new-list-item {
	.sub-menu-container {
		display: none;
		position: absolute;
		top: 310px;
		left: 225px;
		padding: 10px;
		background-color: white;
		border: solid 1px var(--grey-color-3);
		border-top: none;
		width: max-content;
		border-radius: 10px;

		.sub-menu-item {
			text-decoration: none;

			.sub-menu-item-label {
				cursor: pointer;

				&:hover {
					color: var(--active-menu);
				}
			}
		}
	}

	.new-sub-menu-container-outer {
		gap: 0;
		display: none;
		position: absolute;
		left: 17.18rem;
		width: max-content;
		background-color: transparent;

		.new-sub-menu-container-inner {
			gap: 0;
			display: flex;
			flex-direction: column;
			background-color: var(--white-color);
			border: 1px solid var(--grey-color-8);
			border-radius: 4px;
			margin-left: 0.2rem;

			.new-sub-menu-item {
				.new-sub-menu-item-label {
					cursor: pointer;

					&:hover {
						color: var(--active-menu);
					}
				}

				&:hover {
					background: var(--hovered-menu-backround-color);

					.new-sub-menu-item-label {
						color: var(--active-menu);
					}
				}
			}
		}
	}

	&:hover {
		.icon-arrow {
			fill: var(--primary-color);
		}

		.sub-menu-container {
			display: block;
		}

		.new-sub-menu-container-outer {
			display: flex;
		}
	}
}

.new-list-item {
	.amplify-link {
		&:visited {
			color: unset;
		}

		&:hover {
			color: var(--active-menu);
		}
	}

	.link-with-sub-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&:hover {
		// color: red;
		color: var(--active-menu);
	}
}
